      {% load static %}
      <!-- Banner Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="row mx-0">
                    <div class="col-lg-6 px-0">
                        <div class="px-5 bg-secondary d-flex align-items-center justify-content-between" style="height: 350px;">
                            <img class="img-fluid flex-shrink-0 ml-n5 w-50 mr-4" src="{% static 'img/fuel2.png' %}" alt="">
                            <div class="text-right">
                                <h3 class="text-uppercase text-light mb-3">Out of Fuel?</h3>
                                <p class="mb-2" style="color: white; font-size: 14px;">Run out at the road side? We're here for you. On Whatsapp or calling <a href="tel:0701006010">0701006010</a></p>
                                <p style="color: white; font-size: 14px;">Arrives in 20 mins</p>
                                <p style="color: white;  font-size: 14px;">Price UGX 5000/ltr</p>
                                <a class="btn btn-primary py-2 px-4" href="tel:0701006010">Rescue me</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 px-0">
                        <div class="px-5 bg-dark d-flex align-items-center justify-content-between" style="height: 350px;">
                            <div class="text-left">
                                <h3 class="text-uppercase text-light mb-3">Tyre Change</h3>
                                <p class="mb-2" style="color: white; font-size: 14px;">Got a puncture? We'll drive and install the spare wheel in your car <a href="tel:0701006010">0701006010</a></p>
                                <p style="color: white; font-size: 14px;">Arrives in 20 mins</p>
                                <a class="btn btn-primary py-2 px-4" href="">Rescue me</a>
                            </div>
                            <img class="img-fluid flex-shrink-0 mr-n5 w-50 ml-4" src="{% static 'img/oip.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->
    
        <!-- Testimonial Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <h1 class="display-1 text-primary text-center">05</h1>
                <h1 class="display-4 text-uppercase text-center mb-5">Our Client's Say</h1>
                <div class="owl-carousel testimonial-carousel">
                    {% for message in testimonials%}
                    <div class="testimonial-item d-flex flex-column justify-content-center px-4">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <img class="img-fluid ml-n4" src="{{message.image.url}}" alt="">
                            <h1 class="display-2 text-white m-0 fa fa-quote-right"></h1>
                        </div>
                        <h4 class="text-uppercase mb-2">{{message.clientname}}</h4>
                        <i class="mb-2">{{message.proffession}}</i>
                        <p class="m-0">{{message.message}}</p>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
    
    
        <!-- Contact Start -->
        <div class="container-fluid py-5">
            <div class="container pt-5 pb-3">
                <h1 class="display-1 text-primary text-center">06</h1>
                <h1 class="display-4 text-uppercase text-center mb-5">Contact Us</h1>
                <div class="row">
                    <div class="col-lg-7 mb-2">
                        <div class="contact-form bg-light mb-4" style="padding: 30px;">
                            <form>
                                <div class="row">
                                    <div class="col-6 form-group">
                                        <input type="text" class="form-control p-4" placeholder="Your Name" required="required">
                                    </div>
                                    <div class="col-6 form-group">
                                        <input type="email" class="form-control p-4" placeholder="Your Email" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control p-4" placeholder="Subject" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control py-3 px-4" rows="5" placeholder="Message" required="required"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-5 mb-2">
                        <div class="bg-secondary d-flex flex-column justify-content-center px-5 mb-4" style="height: 435px;">
                            <div class="d-flex mb-3">
                                <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                                <div class="mt-n1">
                                    <h5 class="text-light">Head Office</h5>
                                    <p>123 Street, New York, USA</p>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <i class="fa fa-2x fa-map-marker-alt text-primary flex-shrink-0 mr-3"></i>
                                <div class="mt-n1">
                                    <h5 class="text-light">Branch Office</h5>
                                    <p>123 Street, New York, USA</p>
                                </div>
                            </div>
                            <div class="d-flex mb-3">
                                <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                                <div class="mt-n1">
                                    <h5 class="text-light">Customer Service</h5>
                                    <p>customer@example.com</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <i class="fa fa-2x fa-envelope-open text-primary flex-shrink-0 mr-3"></i>
                                <div class="mt-n1">
                                    <h5 class="text-light">Return & Refund</h5>
                                    <p class="m-0">refund@example.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="owl-carousel vendor-carousel">
                    <div class="bg-light p-4">
                        <img src="{% static 'img/vendor-1.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'img/vendor-2.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'img/vendor-3.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'img/vendor-4.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'img/vendor-5.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'img/vendor-6.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'img/vendor-7.png' %}" alt="">
                    </div>
                    <div class="bg-light p-4">
                        <img src="{% static 'img/vendor-8.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor End -->
    